* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

section {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 20px;
  display: flex;
  width: 920px;
  height: 520px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
}

/* Img part */

.card-left {
  position: relative;
  flex: 1;
  background: url("../images/bg-pattern-desktop.svg") no-repeat 0 50%;
  background-position: -487px -258px;
  background-size: 891px;
}

#woman {
  background: url("../images/illustration-woman-online-desktop.svg") no-repeat
    center center/cover;
  height: 100%;
  background-size: 450px;
  background-position: -50px 50px;
}

.card-left .box {
  position: relative;
  top: -338px;
  left: -75px;
}

/* FAQ part */
.card-right {
  flex: 1;
  padding: 40px;
}

.card-right h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 32px;
}

ul {
  list-style: none;
}

.question {
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question img {
  float: right;
  width: 15px;
  margin-right: 25px;
}

.question:hover {
  cursor: pointer;
  color: #ffa500;
}

.question.active {
  padding-bottom: 10px;
  font-weight: 800;
  border-bottom: none;
}

.question.active img {
  transform: rotate(180deg);
  transition: transform 0.1s;
}

.answer.active {
  line-height: 1.5;
  color: hsl(240, 6%, 50%);
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.answer {
  display: none;
  font-size: 14px;
}

.active {
  display: block;
}

/* Attribution */
.attribution {
  margin-top: -50px;
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: #fff;
}
